*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #f1f5fd;
  --blue: #bcf0ff;
  --blue2: #527ac7;
  font-size: 19px;
  font-weight: 500;
  font-family: "Merriweather", serif;
}

body {
  display: flex;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 5rem;
}

main {
  flex: 1 1 auto;
}

.home-main {
  margin: 6rem 0 10rem 0;
}

.recipe-main {
  margin-bottom: 10rem;
}

.logo {
  font-size: 2.6rem;
  font-style: italic;
  text-shadow: 2px -1px 2px black;
  margin: 1rem 0 1rem 0;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px black;
}

.item img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.item h2 {
  font-size: 1.3rem;
  font-weight: 900;
}

.item a:hover {
  text-decoration: underline;
}

.recipe-head {
  margin-bottom: 5rem;
}

.recipe-head h2 {
  margin-top: 10rem;
  font-size: 1.9rem;
  margin-bottom: 3rem;
}

.recipe-head img {
  width: 350px;
  height: 350px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.description {
  max-width: 900px;
  margin: 0 2rem;
}

.div-ingredients p {
  margin: 3rem 2rem 1.5rem 2rem;
}

li {
  margin-bottom: 1.8rem;
  max-width: 90%;
  font-weight: 600;
}

footer {
  color: var(--blue2);
}

/* GROUPS */

.div-ingredients,
.div-steps {
  max-width: 900px;
  margin: 0 3rem;
  margin-top: 3rem;
  padding: 1px 15px 30px 15px;
}

.item,
.div-ingredients,
.div-steps {
  background-color: var(--blue2);
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.div-ingredients h3,
.div-steps h3 {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 10px 40px 10px;
}

header,
.recipe-head,
footer {
  text-align: center;
}

.div-ingredients p,
footer {
  font-size: 1.2rem;
  font-weight: 600;
}

.item a:hover,
.item h2,
.div-ingredients,
.div-steps {
  color: var(--white);
}

.logo,
.recipe-head h2 {
  color: var(--blue2);
  font-weight: 900;
}

.item a,
.item a:visited,
header a {
  text-decoration: none;
}
