*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --orange: #da7a21;
  --blue: #d3fffb;
  --blue2: #56e6dc;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

body {
  position: relative;
  display: flex;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
}

header {
  background-color: var(--blue2);
  text-align: center;
  width: 100%;
  height: 5rem;
  margin-bottom: 5rem;
}

.home-main {
  margin: 6rem 0 10rem 0;
}
 
.recipe-main {
  margin-bottom: 10rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  color: var(--orange);
  text-shadow: 2px -1px 2px white;
  margin: 1rem 0 1rem 0;
}

.item {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.item h2{
  font-size: 1.4rem;
  font-weight: 900;
  color: white;
}

.item a, .item a:visited, header a {
  text-decoration: none;
}

.item a:hover {
  text-decoration: underline;
  color: white;
}

.recipe-head {
  text-align: center;
  margin-bottom: 2rem;
}

.recipe-head h2 {
  color: black;
  font-size: 1.7rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 2rem;
}

.recipe-head img{
  width: 350px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
  margin-bottom: 1rem;
}

.description, li  {
  font-size: 1.1rem;
}

.div-ingredients , .div-steps {
  color: rgb(255, 250, 250);
  width: 600px;
  background-color: var(--orange);
  margin-top: 1.5rem;
  border-radius: 10px;
  padding: 1px 15px 10px 15px;
  box-shadow: 0 0 10px black;
}

.div-ingredients {
  margin-top: 3.5rem;
}

.div-ingredients h3, .div-steps h3 {
  font-size: 1.4rem;
  text-align: center;
  margin: 20px 10px 40px 10px;
}

li {
  margin-bottom: 25px;
  width: 95%;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
